<% if user_signed_in? %>
	<h1>Welcome <strong> <%= current_user.name %> !</strong></h1>
<% else %>
	<div class="hero-unit">
	<h1>Foobar App</h1>
		<p>Welcome to the home page of Foobar app by <%= link_to "Renganathan Ramamoorthy", "http://gurupanguji.net/"%>.</p>
		<p><%= link_to "Sign up Now!", new_user_registration_path, class:"btn btn-large btn-primary"%></p>
	</div>
<% end %>